//
// This is a manifest file that'll be compiled into application.css, which will include all the files
// listed below.
//
// Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
// or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
//
// You're free to add application-wide styles to this file and they'll appear at the bottom of the
// compiled file so the styles you add here take precedence over styles defined in any styles
// defined in the other CSS/SCSS files in this directory. It is generally better to create a new
// file per style scope.
//
//= require_self
//= require_tree .
//

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  margin: 10px 0;
}

a {
  text-decoration: none;
  color: #0073d9;

  &:hover {
    text-decoration: underline;
  }
}

.notice, .alert {
  padding: 5px 10px;
  border-width: 1px;
  border-style: solid;
  margin: 20px 10px;
  text-align: center;
  border-radius: 5px;
}

.notice {
  color: #0e47a2;
  border-color: rgba(0, 70, 162, 0.72);
  background: #d4e5ff;
}

.alert {
  color: #8f0202;
  border-color: rgba(165, 0, 0, 0.72);
  background: #ffe3e3;
}

#content {
  padding: 10px 30px;
}

#login-bar {
  width: 300px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  margin: 0 30px 0 auto;
  border: 1px solid #aaa;
  border-top: none;
  border-radius: 0 0 10px 10px;
  box-shadow: 2px 2px 2px #aaa;
}
