.resource {
  width: 160px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid #aaa;
  padding: 10px;
  text-align: center;
  transition: all 0.3s;
  position: relative;
  top: 0px;
}

.resource:hover {
  top: -5px;
  box-shadow: 5px 5px 5px #aaa;
}

.resource span {
  display: block;
}

.resource .tags {
  position: relative;
  height: 20px;
}
.resource ul.tag-list {
  position: absolute;
  padding: 0;
  height: 20px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  &:hover {
    height: auto;
    overflow: visible;
    background: #ddd;
    white-space: normal;
    padding: 2%;
    width: 98%;
  }
  li {
    white-space: nowrap;
    font-size: 12px;
  }
}

.resource li {
  /* list-style-type: none; */
  display: inline;
}

.resource img {
  width: 64px;
}

.resources {
  position: relative;
}

.resources::after {
  clear: both;
  display: block;
  content: " ";
}
