<!DOCTYPE html>
<html>
  <head>
    <title>Teachrapp</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    
    <%= yield %>

    <footer>
      <hr>
      TeachrApp, Todos los derechos reservados &copy; 2014
    </footer>

  </body>
</html>
